<div class="jumbotron">
	<h3>Cadastro (ng-route)</h3>
	<form role="form" name="doc_insert_form" novalidate>
		<div class="row form-group">
			<div class="col-md-12">
				<input type="text" class="form-control" ng-model="document.attribute_1" ng-required="true" placeholder="Atributo 1">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-12">
				<input type="text" class="form-control" ng-model="document.attribute_2" ng-required="true" placeholder="Atributo 2">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-12">
				<input type="text" class="form-control" ng-model="document.attribute_3" ng-required="true" placeholder="Atributo 3">
			</div>
		</div>

		<div class="row form-group">
			<div class="col-sm-6">
				<button type="submit" class="btn btn-lg btn-success" ng-click="insert_doc()" ng-disabled="doc_insert_form.$invalid || doc_insert_form.$pristine">Cadastrar</button>
			</div>
		</div>
	</form>
</div>